[submodule "NODE.js/Tutorial_on_node_and_express"]
	path = NODE.js/Tutorial_on_node_and_express
	url = https://github.com/zyuvraj53/Tutorial_on_node_and_express.git
[submodule "JSON/corpora"]
	path = JSON/corpora
	url = https://github.com/dariusk/corpora.git
[submodule "React.js/-Force"]
	path = React.js/-Force
	url = https://github.com/iamshaunjp/Complete-React-Tutorial.git
[submodule "React.js/Comple-React-Tutorial"]
	path = React.js/Comple-React-Tutorial
	url = https://github.com/iamshaunjp/Complete-React-Tutorial.git
[submodule "TypeScript/The_Net_Ninja/typescript-tutorial-shaun"]
	path = TypeScript/The_Net_Ninja/typescript-tutorial-shaun
	url = https://github.com/iamshaunjp/typescript-tutorial.git
