@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

header {
  @include flexCenter(column);

  background-color: aquamarine;

  color: gray;
  
  button {
    background: $primaryButton;
    &:hover {
      background: $secondaryButton;
    }
  }
}
